.containerMyCourse{
    display: flex;
    justify-content: center;
    padding: 1% 10%;
    align-items: flex-end;
}
#rectangleHome{
    width: 50%;
}
.containertText{
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 50%;

}
h5{
    font-style: italic;
    color:#F7DB07;
    font-size: 13px;
    font-weight: 600;
}
h3{
    font-style: italic;
   font-weight: 700;
   font-size: 18px;
}
p{
    font-size: 11px;
}