
*{
  box-sizing: border-box;
  margin:0; 
  padding:0;
  text-decoration: none;
  list-style: none;
  font-family: "Sofia Pro", arial, sans-serif;
  background-color: #333333;
  color:#CDCDCD;
}

/* #F7DB07 - Amarrillo
#333333 – Gris oscuro
#CDCDCD - Gris */

/* .App {
  text-align: center;
} */

